{% extends "base.html" %}
{% block title %}: Feedback{% endblock %}
{% block head %}{{ super() }}{% endblock %} {# note that the head looks for the title variable. #}
{% block content %}
<div class='content'>
  <h1>Thank you for your feedback.</h1>
  <div style='width:90%'>We value insights and observations from our user community.</div>
  <div class='space_20'></div>
    <!-- form contents -->
    <div><a class="button orange" href='/upload/explore'>Back to report</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="button gray" href='/'>Start over</a></div> 
    <div class='space_20'></div>
</div>
{% endblock content %}